/* ==========================================================================
Section Styles
========================================================================== */

$breakpoint-mobile: 768px;

//Sections
.section {
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;
    
    display: flex;
    flex-direction: row;

    border-radius: 3px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 3px 1px #f4f4f4;
    padding-inline: 30px;
    
    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 900;
        }
        .icon-box {
            color: $medium-grey;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

@media (max-width: $breakpoint-mobile) {

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .media.icon-box {
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
        padding-inline: 0px;

        .media-left {
            margin-right: 0rem;
        }

        .media-content {
            margin-top: 0px;
            padding-inline: 30px;
            padding-bottom: 30px;
        }
    }
}