{{- $section_mission := .Site.Params.section_mission }}
{{- $title    := index $section_mission "title" }}
{{- $subtitle := index $section_mission "subtitle" }}
{{- $features := index $section_mission "features" }}
<section id="section_mission" class="section section-feature-grey is-medium">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
    
    <div class="content-wrapper">
      {{- range $features }}
      <article class="media icon-box">
        <figure class="media-left">
          <p class="image">
            <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
          </p>
        </figure>
        <div class="media-content mt-50">
          <div class="content">
            <p>
              <span class="icon-box-title">{{ .title }}</span>

              <span class="icon-box">{{ .text | markdownify }}</span>
            </p>
          </div>
        </div>
      </article>
      {{- end }}
    </div>
  </div>
</section>